body {
    margin: 0;
    padding: 0 1em;
    background-color: #ffc917;
    margin-left: 1em;
}

* {
    font-family: "Quicksand", serif;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 14px 16px 11px -9px rgba(0, 0, 0, 0.1);
}

header img {
    max-width: 10em;
    margin-left: 4em;
}

header section {
    margin-left: 6em;
    color: #003082;
}

button {
    background-color: #003082;
    color: #ffffff;
    border-radius: .3em;
    padding: .5em;
    border-color: #70a2f7;
    position: relative;
    left: 85%;
    cursor: pointer;
}

button:hover{
    background-color: #3c64a7;
    transform: translateY(.5px);
}

.achtergrondboven {
    width: 100%;
    display: grid;
}

.achtergrondboven section {
    background-color: white;
    word-break: keep-all;
    margin-left: 1em;
    margin-right: 1em;
    justify-self: center;
    border-radius: .5em;
    width: 80%;
    min-height: 10em;
    margin-bottom: 6em;
    padding: 1.5em;
    margin-top: 6em;
    box-shadow: 14px 16px 11px -9px rgba(0, 0, 0, 0.1);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.beginform {
    height: 100%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: .5em;
}

.beginform section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    color: #ffffff;
    margin-bottom: 2em;

    * {
        background-color: #003082;
        box-shadow: 14px 16px 11px -9px rgba(0, 0, 0, 0.1);
        border-color: #ffffff;
        padding: 1.7em;
    }
}

fieldset {
    margin: 2em;
    border-color: #003082;
    padding: 1em;

    input {
        margin: .5em;
    }
}

fieldset:nth-of-type(2):has(label[id="radiobuttonja"] input:checked) {
    .ja1 {
        display: block;
        margin-bottom: .5em;
    }
}

fieldset:nth-of-type(2):has(label[id="radio2"] input:checked) {
    .bestand {
        display: block;
        background-color: #ffffff;
        padding: .5em;
        max-width: 25em;
        border: dashed #cbcbcb;
    }
}

fieldset:nth-of-type(3):has(label[id="radio3"] input:checked) {
    .testament {
        display: block;
        margin: .5em;
    }
}

.beginform2 {
    background-color: #ffffff;
    margin-top: 3em;
    padding: 1em;
    border-radius: .5em;

    p {
        max-width: 25em;
    }

    section {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
        color: #ffffff;
        margin-bottom: 2em;

        * {
            background-color: #003082;
            box-shadow: 14px 16px 11px -9px rgba(0, 0, 0, 0.1);
            padding: 1.7em;
        }
    }
}

input {
    border-color: #003082;

    &

    &:user-invalid {
        border-color: red;
    }
}